html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
  background-color: hsl(30, 38%, 92%);
}
@media only screen and (min-width: 1024px) {
  body {
    padding: 0;
  }
}

.container {
  border-radius: 10px;
  overflow: hidden;
  max-width: 34.5rem;
  background-color: white;
}
@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    max-width: 600px;
  }
}

.product-image-mobile {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .product-image-mobile {
    display: none;
  }
}

.product-image-desktop {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .product-image-desktop {
    display: block;
    width: 50%;
  }
}

.content {
  padding: 20px;
}
@media only screen and (min-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
}

.category {
  margin: 0 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  color: hsl(228, 12%, 48%);
}

.title {
  margin: 0 0 20px;
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  line-height: 1;
  color: hsl(212, 21%, 14%);
}

.txt {
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.45rem;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);
}

.price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 15px;
}

.discounted-price {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  color: hsl(158, 36%, 37%);
}

.original-price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.btn-add-to-cart {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  color: white;
  background-color: hsl(158, 36%, 37%);
}
@media only screen and (min-width: 1024px) {
  .btn-add-to-cart:hover {
    cursor: pointer;
    background-color: hsl(156, 36%, 18%);
  }
}
